.fa {
  font-size: 1rem;
  width: 20%;
  text-align: center;
  text-decoration: none;
  margin-top: 15px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: #3b5998;
}

.fa-google {
  color: #e46f61;
}

.fa-instagram {
  color: #4178a0;
}

.fa-whatsapp {
  color: #289b20;
}
